@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
:root{
    --primary-color: #817E9F
    --secondary-color: #7FC29B
    --accent1-color: #65524D
    --accent2-color: #B5EF8A

    --heading-font: 'Georgia', serif;
    --paragraph-font:'Gill Sans', serif;

    --nav-background-color: #f0f0f0;
    --nav-link-color: grey;
    --nav-hover-link-color:rgb(150,230, 130);
    --nav-hover-background-color: rgb(200, 100, 250);
    
}
h1, h2, H3, h4, h5,h6 {
    font-family: var(Times New Roman);
    color: var(#817E9F);
}
p{
    padding: 25px;
}
nav{
    background-color: var(#fc0d0d);
    font-size: 1rem;
    display: flex;

}
nav a{
    display: block;
    color: var(grey);
    text-decoration: none;
    padding: 1rem;
}
body{
    font-family: var(--#272222);
    max-width: 960;
    padding: 20;
    margin: 1rem auto;
    max-width: 1000px;



}
.hero{
    position: relative;

}
.hero img{
    display: block;
    width: 500px;
    height: auto;
}
h1,
article{
    position: absolute;
}
article{
    background-color: rgba(88, 100, 90, .5);

}
article img{
    float: right;
    
}
footer{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 2fr 150px;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    max-width: 1000px;
    text-align: center;

}
.sociallinks img{
    width: 20px;
    height: auto;
    margin: 0;
    float: right;
    justify-self: self-end;
}
header{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 200px 2fr;
    align-items: center;
    margin: 1rem auto;
    max-width: 1000px;

}
.logo img{
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
}
.logo nav{
    justify-self: self-end;
}
main{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}
.story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;

}
.story img{
    float: right;
    width: 200px;
    height: auto;
}

.adventure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;
}
.adventure h2{
    text-align: center;
}
.adventure img{
    width: 160px;
    height: auto;
}
.img_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    
}



/* le resaka No rafting sy position relative sisa
atao suivant ligne le article de atao cover ny sary iray*/