*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: darkblue;
    --text-align: center;
}
nav{
    background-color: var(--color);
    padding: 10px
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: var(--color);
}
main img{
    float: right;
    width:150px;
    height: auto;
    border:1px solid black;
    padding: 2px;
    box-shadow:0 0 30px gray;
}
main{
    max-width: 900px;
}
aside{
    position: relative;
    width: 20%;
    margin: 10px 20px 0;
    padding: 10px;
    text-align: var(--text-align);
}
aside h2{
    position: absolute;
    right: auto;
    left: 2rem;
}
aside img{
    width: 100%;
    height: auto;
}
p{
    padding:0;
}
footer{
    margin-top: 20px;
    border-top: 2px solid var(--color);
    text-align: var(--text-align);
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #abe;
    color: #000;
}