*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}
h1{
    color: steelblue;
    border-bottom: 1px solid grey;

}
img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
main {
    max-width: 900px;
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    width: 20em;
    margin: 1rem;
    border: 2px dashed solid  rgba(218, 135, 32, 0.2);
    padding: 1.5rem;
    background-color: #3ee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img{
    width: 250px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
    float: right;
    margin: 0 0 0 1.2em;
}
footer{
    margin-top: 30px;
    border-top: 2px solid black;
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(20, 135, 32, 0.2);
    background-color: rgba(100, 100, 180, 0.2);
    color: rgb(133, 78, 78);
}
aside h2{
    position: absolute;
    top: 10px;
    left:95px;
}
header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}